doctype html
html
    head
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(charset="utf-8")
        title Lesedi Ramahobo  
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        meta(name="description" content="A Web Developer based in Gaborone, Botswana.")
        meta(name="keywords" content="lesedi, ramahobo, web, developer, webdev, gaborone, botswana, LESH_ent, software, javascript, php, html, mobile app")
        base(href='/')
        link(rel="shortcut icon" href='@Url.Content("~/favicon.ico")' type="image/x-icon")
        link(rel="icon", href="/", type="image/x-icon")
        link(rel="stylesheet", href="http://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.1/normalize.min.css", charset="utf-8")
        link(href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,300,400,600,800' rel='stylesheet', type='text/css')
        link(rel="stylesheet", type="text/css", href="App/lib/devicon/devicon.css")
        link(rel="stylesheet", type="text/css", href="App/lib/devicon/devicon-colors.css")
        link(rel="stylesheet", type="text/css", href="Content/bootstrap.css")
        link(rel="stylesheet", type="text/css", href="Content/animate.css")
        link(rel="stylesheet", type="text/css", href="Content/site.css")
        block styles
    body.services
        .top
            .container
                .img-banner
                    img(src="/images/gantz.jpg")
        .middle
            .container
                h1 Webdev
                ul
                    li #1 Web Development Service.
                    li Responsive Websites.
                    li iPhone/iPad Apps.
                    li P1000 a website.
                    li Development anyday of the week.
                    li 8 a.m - 8 p.m
                    li Email project type and description.
                    li 71837753 (text for questions)


