<div id="shit">
			<p>
				<a href="http://en.wikipedia.org/wiki/%22Hello,_World!%22_program">Hello, world!</a>
			</p>
			<p>
				According to Wikipedia, I'm "a programmer who specializes in, or is specifically engaged in, the development of World Wide Web applications, or distributed network applications that are run over HTTP from a web server to a web browser."
			</p>
			<p>
				TL;DR, it means that I'm the geeky type who plays video games and makes cool stuff for the web.
			</p>
			<p>
				Here's all of the stuff I've created:
			</p>
			<p>
				<span class="date">
					1 April 2015
				</span>
				<span class="title">
					<a href="a-simple-calculator">A Simple Calculator</a>
				</span>
			</p>
			<p>
				<span class="date">
					21 March 2015
				</span>
				<span class="title">
					<a href="anonymous-email-tool">Anonymous Email Tool</a>
				</span>
			</p>
			<p>
				<span class="date">
					7 March 2015
				</span>
				<span class="title">
					<a href="the-best-program">The Best Program</a>
				</span>
			</p>
			<p>
				Have something cool in mind? Let's work together. Drop me a line <a href="mailto:contact@yashghelani.com">here</a>.
			</p>
			<p>
				Simply want to stalk me? <a href="http://facebook.com/yashnghelani">Here</a>, <a href="http://twitter.com/yashnghelani">here</a> and <a href="http://instagram.com/yashghelani">here</a>.
			</p>
			<p>
				And BTW, I love Astronomy.
			</p>
			<p>
				Thanks for visiting. Aim for the stars.
			</p>
		</div>