<script type='text/ng-template', id='templates/questions.html'>
  <div class="row row-merge" style="height: 100%;">
   <md-button ui-sref='app.add' class='md-primary md-fab md-fab-bottom-right'>
    ADD
  </md-button>
  <div class="col-md-8">
      <div class="" id="main_page" style="padding-bottom: 0;">
              <div class="row row-merge">
                    <div class="col-md-12">
                      <div class="container-responsive block-center">
                        <div ui-view="tabledata"></div>             
                      </div>
                    </div><!-- 12 -->
              </div><!-- row -->
        </div><!-- container -->
  </div>
  <div class="col-md-4">
  <md-content style="height:400px;">
    <div>
      <md-grid-list
          md-cols-sm='1' md-cols-md='2' md-cols-gt-md='2' 
          md-row-height-gt-md='4:1' md-row-height='4:1'
          md-gutter='8px' md-gutter-gt-sm='3px'>
        <md-grid-tile ng-repeat='question in questions' class='white md-whiteframe-z1' md-rowspan='1' md-colspan='2' ng-cloak>
          <div>
              <a href='#'>{{question.name}}</a> - {{question.question}}
            </div>
            
        </md-grid-tile>
      </md-grid-list>
    </div>
  </md-content>
  </div>
  </div>
</script>

<script type='text/ng-template', id='templates/addedit.html'>
  <md-content class='md-padding'>
    <h1>Chat Message</h1>
      <form ng-submit='save(question)'>
        <div layout layout-sm='column'>
          <md-input-container flex>
            <label>Your Name:</label>
            <input ng-model='question.name'>
          </md-input-container>
        </div>
        
        <md-input-container flex>
          <label>Type your Message:</label>
          <textarea ng-model='question.question' columns='1' rows='4' md-maxlength='150'></textarea>
        </md-input-container>
        <md-button class='md-raised md-primary large-font'>
          Save Question
        </md-button>
        <md-button ui-sref='app.chat' class='md-raised large-font'>
          Cancel
        </md-button>
      </form>
    </md-content>
</script>
<script type='text/ng-template', id='templates/upload.html'>
  <div id="status"></div>
  <div id="image_url"></div>
  <div id="preview"></div>
  <input type="file" class="form-control btn" id="image" onchange="angular.element(this).scope().s3Upload(this)">
</script>

<script type='text/ng-template', id='templates/login.html'>
  <md-content class='md-padding'>
    <h1>Wanna Chat? Create a Username.</h1>
      <form ng-submit='login(user)'>
        <div layout layout-sm='column'>
          <md-input-container flex>
            <label>Username:</label>
            <input ng-model='user.username'>
          </md-input-container>
        </div>
        
        <md-input-container flex>
          <label>Pick a color:</label>
          <input colorpicker type="text" ng-model="user.color" />
        </md-input-container>
        <md-button class='md-raised md-primary large-font'>
          Login
        </md-button>
        <md-button ui-sref='app.chat' class='md-raised large-font'>
          Cancel
        </md-button>
      </form>
    </md-content>
</script>
